.mask-reveal{
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: inherit;

    &__mask{
        position: absolute;
        height: 100%;
        width: 300%;
        display: inline-block;
        z-index: 10;
    }

    &__text{
        display: inline-block;
    }
}