*{
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MangoGrotesque";
  src: url("./assets/fonts/MangoGrotesque-VF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Zalando";
  src: url("./assets/fonts/ZalandoSans[wdth\,wght\,slnt].ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Mosvita";
  src: url("./assets/fonts/mosvita-vf.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "MangoGrotesque", sans-serif;
  background: #f3f3f3;
  color: #202020;
}

html{
   @media screen and (min-width: 768px) {
    font-size: 18px;
   }
}